.orange {
    background-color: #ff5e1a;
}

.grey {
    background-color: #dad9d9; 
}

.black {
    background-color: #282828;
}

html {
    font: white;
}

#home {
    text-align: center;
}

#footer {
    text-align: center;
}