/* body {
  padding: 20px 50px 0px 50px;
  font-family: 'Overpass', sans-serif;
}

.header {
  height: 150px;
  width: auto;
  background-color: grey;;
}

.company {
  float: left;
}

#logo {
  float: left;
}

li {
  display: inline;
  float: right;
  padding: 8px;
}

a {
  display: block;
}

li a:hover {
  background-color: #111;
}

ul {
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar {
  position: sticky;
  display: block;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.navbar {
  align-items: center;
} */
/* 
@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";
@import "../sass/utilities/derived-variables.sass";


$black: #282828;
$grey: #dad9d9;
$orange: #ff5e1a;


$primary: $orange;
$danger: $grey;

@import "../bulma" */

.orange {
  background-color: #ff5e1a;
}

.grey {
  background-color: #dad9d9; 
}

.black {
  background-color: #282828;
}

html {
  font: white;
}

#navbar-about:hover, 
#navbar-services:hover,
#navbar-quote {
  background-color: #282828;
}

#home {
  text-align: center;
}

.has-image-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
  color: white;
  width: auto;
}

#quoteForm,
#aboutBody,
#servicesBody,
#footer {
  border-radius: 25px;
}






